doctype html
html
    head
        title="MongoDB"
        style 
            include ./style.css
    body
        form(action = "/addtask", method = "POST")
        h1 Welcome 
        div
            label(for = "task") Task:
            input(type='text', name = "task")
        button(type='submit' href='todo') Create new task
        h3 To do list
