doctype html
html
    head
        title="MongoDB"
        style 
            include ./style.css
    body
        h1 Welcome 
        h2 Enter Your Name
        p
            | Your Name: 
            input(type='text', name='first_name')

        input(type='submit', value='Submit')