include ./index.pug
div
    h3.text-center To do list
    for todo in data
        div.todo
            li(class="bg-warning text-center todoList") #{todo.task}
                a(class="btn btn-danger btn-xs", href="/todo/delete/" + todo._id) X
                        