include ./index.pug
    div
        table
            thead
                th To do list
            tbody
                for todo in data
                    tr
                        td #{todo.list}
                        td
                       
                           